# Banco de dados futuro
DATABASE_URL="postgresql://user:password@localhost:5432/milhao_solidario"

# Mercado Pago futuro
MERCADO_PAGO_ACCESS_TOKEN=""
MERCADO_PAGO_WEBHOOK_SECRET=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
